# Rust ignores
**/target
**/*.rs.bk

# Build files
**/pkg
*.wasm
**/songbird_wasm.js
*.exe
**/sdl/core

# Hide files that aren't ours
**/games
*.gb
*.dll

# Include all files from SDL2
!**/bin/*.dll

# Misc
*.sav
