# Rust ignores
**/target
**/*.rs.bk

# Build files
**/pkg
*.wasm
**/songbird_wasm.js
*.exe
**/gui/core
*.lock

# Editor files
**/.idea/*
*.code-workspace

# Hide files that aren't ours
**/docs
**/games
*.gb

# Misc
*.sav
*.log
*.ini
*.patch
